.fullcard {
  width: 900px;
  height: 500px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
}

.fullcard h1 {
  text-align: center;
}

.fullcard .full-additional {
  position: absolute;
  width: 300px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  overflow: hidden;
  z-index: 2;
}

.fullcard.green .full-additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.fullcard:hover {
  cursor: pointer;
}

.fullcard .full-additional .item-fullcard {
  width: 300px;
  height: 100%;
  position: relative;
  float: left;
}

.fullcard .full-additional .item-fullcard::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.fullcard .full-additional .item-fullcard .language,
.fullcard .full-additional .item-fullcard .libraries {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.fullcard .full-additional .item-fullcard .libraries {
  top: 85%;
}

.fullcard .full-additional .item-fullcard svg {
  top: 50%;
}

.fullcard .full-additional .more-info {
  width: 600px;
  float: left;
  position: absolute;
  left: 300px;
  height: 100%;
}

.fullcard .full-additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.fullcard.green .full-additional .more-info h1 {
  color: #224C36;
}

.fullcard .full-additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.fullcard.green .full-additional .coords {
  color: #325C46;
}

.fullcard .full-additional .coords span + span {
  float: right;
}

.fullcard .full-additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.fullcard.green .full-additional .stats {
  color: #325C46;
}

.fullcard .full-additional .stats > div {
  flex: 1;
  text-align: center;
}

.fullcard .full-additional .stats i {
  display: block;
}

.fullcard .full-additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.fullcard .full-additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.fullcard .full-additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.fullcard .general {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.fullcard .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.3rem;
  }

  .text {
    font-size: 0.7rem;
  }
  
  .fullcard {
    width: 300px;
    height: 334px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
  }
  
  .fullcard h1 {
    text-align: center;
  }
  
  .fullcard .full-additional {
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .fullcard.green .full-additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .fullcard:hover .full-additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .fullcard .full-additional .item-fullcard {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .fullcard .full-additional .item-fullcard::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  .fullcard .full-additional .item-fullcard .language,
  .fullcard .full-additional .item-fullcard .libraries {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .fullcard .full-additional .item-fullcard .libraries {
    top: 85%;
  }
  
  .fullcard .full-additional .item-fullcard svg {
    top: 50%;
  }
  
  .fullcard .full-additional .more-info {
    width: 200px;
    float: left;
    position: absolute;
    left: 100px;
    height: 100%;
  }
  
  .fullcard .full-additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .fullcard.green .full-additional .more-info h1 {
    color: #224C36;
  }
  
  .fullcard .full-additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 0.7rem;
  }
  
  .fullcard.green .full-additional .coords {
    color: #325C46;
  }
  
  .fullcard .full-additional .coords span + span {
    float: right;
  }
  
  .fullcard .full-additional .stats {
    font-size: 1.3rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  
  .fullcard.green .full-additional .stats {
    color: #325C46;
  }
  
  .fullcard .full-additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .fullcard .full-additional .stats i {
    display: block;
  }
  
  .fullcard .full-additional .stats div.title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .fullcard .full-additional .stats div.value {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
  }
  
  .fullcard .full-additional .stats div.value.infinity {
    font-size: 1.7rem;
  }
  
  .fullcard .general {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .fullcard .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.6em;
  }  
}